  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="./">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./quien-soy#quien">Quien</a></li>
          <li><a href="./quien-soy#juego">Juego</a></li>
          <li><a href="./quien-soy#que">Que es</a></li>
          <li><a href="./quien-soy#donde">Donde</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- First Container -->
  <div id ="quien"class="container-fluid bg-1 text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="300" height="300">
    <h3>Leandro M. Arnoso</h3>
    <h3>Soy un alumno de la Tecnicatura en Programación de la UTN FRA</h3>
  </div>

  <!-- Second Container -->
  <div id ="juego"class="container-fluid bg-2 text-center">
    <h3 class="margin">El juego: Arhocado</h3>
    <p>El ahorcado es un juego de adivinanzas. Usando una fila de guiones, se representa la palabra a adivinar, dando el número de letras. Si el jugador sugiere una letra que aparece en la palabra, se escribe en todas sus posiciones correctas. Si la letra sugerido no ocurre en la palabra, se agrega un parte del cuerpo de la figura de hombre colgado como una marca de conteo. El juego termina cuando:</p>
      <ul>
        <li>El jugador completa la palabra.</li>
        <li>Se compleate la figura.</li>
      </ul>
    
    <a routerLink="/juegos/ahorcado" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-game"></span> Ir al Juego
    </a>
  </div>
  
  <!-- Third Container -->
  <div id ="que" class="container-fluid bg-3 text-center">
    <h3 class="margin">Esto es un trabajo práctico</h3>
    <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo se está
      produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-file"></span> Descargar PDF
    </a>
  </div>
  
  <!-- Fourth Container (Grid) -->
  <div id ="donde" class="container-fluid bg-4 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-5 text-center">
    <p>Modificado por <a href="https://www.octavio.com.ar">www.octavio.com.ar</a></p> 
  </footer>
