<body>
  <div id="terminos" class="modal">
    <div class="modal-content animate">
      <span onclick="document.getElementById('terminos').style.display='none'" class="close" title="Close Modal">×</span>
      <h2 align="center">Terminos y condiciones</h2>
      <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
      <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
      <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
    </div>
  </div>

  <div>
    <form (ngSubmit)="Registrar()" [formGroup]="registroForm">
      <div class="container">

        <div class="form-group">
          <label>Nombre de Usuario</label>
          <input type="text" placeholder="Nombre de Usuario" [formControl]="nombreUsuario" name="nombreUsuario" required>
          <div class="alert alert-danger" *ngIf="!nombreUsuario.valid && nombreUsuario.touched">
            El nombre de usuario debe contener entre 6 y 20 caracteres alfanumericos.
          </div>
        </div>

        <div class="form-group">
          <label><b>Email</b></label>
          <input type="text" placeholder="Email" [formControl]="email" name="email" required>
          <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
            El email debe contener entre 5 y 30 caracteres.
          </div>
        </div>
  
        <div class="form-group">
          <label><b>Contraseña</b></label>
          <input type="password" placeholder="Contraseña" [formControl]="password" name="password" required>
          <div class="alert alert-danger" *ngIf="!password.valid && password.touched">
            La contraseña debe contener entre 8 y 12 caracteres alfanumericos.
          </div>
        </div>
  
        <div class="form-group">
          <label><b>Repita la Contraseña</b></label>
          <input type="password" placeholder="Repita la Contraseña" [formControl]="pswRepeat" name="pswRepeat" required>
          <div class="alert alert-danger" *ngIf="!pswRepeat.valid && pswRepeat.touched">
            Las contraseñas no coinciden.
          </div>
        </div>

        <div class="form-group">
          <label><b>Sexo:</b></label>
          <select [formControl]="sexo">
              <option *ngFor="let val of sexos" [value]="sexo">{{val | sexo}}</option>
          </select>
          <!--<h5><b>Sexo:</b></h5>
          <label class="center-block"><input type="radio" [formControl]="sexo" value="M">Masculino</label>
          <label class="center-block"><input type="radio" [formControl]="sexo" value="F">Femenino</label>-->
          <div class="alert alert-danger" *ngIf="!sexo.valid && sexo.touched">
            Debe especificar un sexo.
          </div>
        </div><br>

        <div class="form-group">
          <input type="checkbox" [formControl]="condiciones" required> Acepto los <a onclick="document.getElementById('terminos').style.display='block'" style="width:auto;">Terminos y condiciones</a>
          <div class="alert alert-danger" *ngIf="!condiciones.valid && condiciones.touched">
            Debe aceptar los terminos y condiciones.
          </div>
        </div><br>

        <div class="clearfix">
          <button routerLink="/login" class="cancelbtn">Cancelar</button>
          <button type="submit" class="signupbtn" [disabled]="!registroForm.valid">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
  
  <!--<script>
  // Get the modal
  var modal = document.getElementById('terminos');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>-->
  
  </body>