<body>
  <div id="terminos" class="modal">
    <div class="modal-content animate">
      <span onclick="document.getElementById('terminos').style.display='none'" class="close" title="Close Modal">×</span>
      <h2 align="center">Terminos y Condiciones</h2>
      <p>Leandro M. Arnoso (en adelante el “Mago”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
      <p>El Mago no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
      <p>El Mago no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
    </div>
  </div>

  <div class="fondo">
    <form (ngSubmit)="Registrar()" [formGroup]="registroForm">
      <div class="container">

        <legend><b>Registro:</b></legend>

        <div class="form-group">
          <label>Nombre de Usuario:</label>
          <input type="text" placeholder="Nombre de Usuario" [formControl]="nombreUsuario" name="nombreUsuario" required>
          <i *ngIf="!nombreUsuario.valid" class="fa fa-asterisk"></i><i *ngIf="nombreUsuario.valid" class="fa fa-check"></i>
          <div class="alert alert-danger" *ngIf="!nombreUsuario.valid && nombreUsuario.touched">
            El nombre de usuario debe contener entre 3 y 20 caracteres alfanumericos.
          </div>
        </div>

        <div class="form-group">
          <label><b>Email:</b></label>
          <input type="text" placeholder="Email" [formControl]="email" name="email" required>
          <i *ngIf="!email.valid" class="fa fa-asterisk"></i><i *ngIf="email.valid" class="fa fa-check"></i>
          <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
            El email debe contener entre 5 y 30 caracteres.
          </div>
        </div>
  
        <div class="form-group">
          <label><b>Contraseña:</b></label>
          <input type="password" placeholder="Contraseña" [formControl]="password" name="password" required>
          <i *ngIf="!password.valid" class="fa fa-asterisk"></i><i *ngIf="password.valid" class="fa fa-check"></i>
          <div class="alert alert-danger" *ngIf="!password.valid && password.touched">
            La contraseña debe contener entre 8 y 12 caracteres alfanumericos.
          </div>
        </div>
  
        <div class="form-group">
          <label><b>Repita la Contraseña:</b></label>
          <input type="password" placeholder="Repita la Contraseña" [formControl]="pswRepeat" name="pswRepeat" required>
          <i *ngIf="!pswRepeat.valid" class="fa fa-asterisk"></i><i *ngIf="pswRepeat.valid" class="fa fa-check"></i>
          <div class="alert alert-danger" *ngIf="!pswRepeat.valid && pswRepeat.touched">
            Las contraseñas no coinciden.
          </div>
        </div>

        <div class="form-group">
          <label><b>Sexo:</b></label>
          <select [formControl]="sexo">
              <option *ngFor="let val of sexos" [value]="val">{{val | sexo}}</option>
          </select>
          <i *ngIf="!sexo.valid" class="fa fa-asterisk"></i><i *ngIf="sexo.valid" class="fa fa-check"></i>
          <div class="alert alert-danger" *ngIf="!sexo.valid && sexo.touched">
            Debe especificar un sexo.
          </div>
        </div><br>

        <div class="form-group">
          <input type="checkbox" [formControl]="condiciones" required> 
            Acepto los <a onclick="document.getElementById('terminos').style.display='block'" style="width:auto;cursor:pointer;">Terminos y condiciones</a>
          <div class="alert alert-danger" *ngIf="!condiciones.valid && condiciones.touched">
            Debe aceptar los terminos y condiciones.
          </div>
        </div><br>

        <div class="clearfix">
          <button routerLink="/login" class="btn btn-danger cancelbtn">Cancelar</button>
          <button type="submit" class="btn btn-success signupbtn" [disabled]="!registroForm.valid">
            <i class="fa fa-pencil-square-o"></i> Registrarme
          </button>
        </div>
      </div>
    </form>
  </div>
  
  <!--<script>
  // Get the modal
  var modal = document.getElementById('terminos');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>-->
  
  </body>