<div class="fondo">

  <app-header [title]="nuevoJuego.nombre" [nombreUsuario]="jugador.nombreUsuario"></app-header>

  <div class="container">
    <h3><i class="fa fa-info-circle"></i><b> Instrucciones de juego:</b></h3>
    <h4>Tienes 10 intentos para adivinar el numero secreto entre el 1 al 100 inclusivos.</h4>
    <h4>Cada intento te restara 1000 puntos.</h4>
  </div>

  <form name="juego" id="juego">

    <label><b>Ingrese un Numero:</b></label>  
    <input id="input" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese un Numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
    <h3 id="puntaje">Puntaje: {{ nuevoJuego.puntaje || 0}}</h3>
    <h3 id="intentos">Intentos Restantes: {{ intentos || 0}}</h3>
  
    <h2 *ngIf="!ocultarVerificar && !jugador.gano && intentos > 0">
      <button (click)="Verificar()" class="btn btn-success btn-lg" [disabled]="!ValidarNumero(nuevoJuego.numeroIngresado)">
        Verificar
      </button>
    </h2>
  
    <h2>
      <button *ngIf="jugador.gano || intentos == 0" (click)="GenerarNuevo()"  class="btn btn-info btn-lg">
        Nuevo número secreto
      </button>
    </h2>
  
    <h2>
      <p align="center" *ngIf="!ocultarVerificar && !jugador.gano && intentos > 0" ><i class="fa fa-spinner fa-pulse"></i>
        Esperando que ingrese un número
      </p>
    </h2>

    <h3 align="center" *ngIf="!ocultarVerificar && jugador.gano">Adivinaste el número.</h3>
    <h3 align="center" *ngIf="!ocultarVerificar && !jugador.gano && intentos == 0">Perdiste. Mejor suerte para la proxima.</h3>

  </form>

  <div id="snackbar">{{mensajes}}</div>
</div>