.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid[required], .ng-invalid.required  {
  border-left: 5px solid #a94442; /* green */
}

legend {
    border-color: green;
}

.fa {
    padding: 3px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*button:hover {
    opacity: 0.8;
}*/

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  padding: 14px 20px;
}
button:disabled:hover,
button[disabled]:hover{
  background-color: #f44336;
  color: white;
  cursor: not-allowed;
  padding: 14px 20px;
}

/* Animacion para el alert*/
.alert {
    animation: 1.5s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.aceptbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #3664F4;
}

.fondo {
    padding: 60px;
    background-image: url(../../../assets/imagenes/fondo.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.imgcontainer {
    text-align: center;
    margin: 24px 30% 12px 30%;
    background-color: green;
    width: 40%;
    border-radius: 100%;
    border: 8px solid black;
}

.container {
    padding: 16px;
    margin: auto;
    width: 40%;
    background-color: whitesmoke; /*rgb(-150, -150, 100);*/
    border: 2px solid green;
}

img.avatar {
    width: 100%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}