<div class="fondo">

  <app-header [title]="nuevoJuego.nombre" [nombreUsuario]="jugador.nombreUsuario"></app-header>

  <div class="container">
    <h3><i class="fa fa-info-circle"></i><b> Instrucciones de juego:</b></h3>
    <h4>Tienes 10 segundos para resolver cada operacion matematica.</h4>
    <h4>El puntaje sera la cantidad de segundos restantes por 1000.</h4>
    <h4>Las divisiones son enteras. Ej: 9 / 5 = 1.</h4>
  </div>

  <form name="juego" id="juego">

    <label><b>{{ operacion }}</b></label>  
    <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese el resultado de la operacion" name="numeroIngresado" id="input" type="text" class="form-control" style="width:50%"/>
    <h3 id="puntaje">Puntaje: {{ nuevoJuego.puntaje || 0 }}</h3>
    <h3 id="tiempo">Tiempo: {{ tiempo || 0 }} seg.</h3>
  
    <h2 *ngIf="!ocultarVerificar">
      <button (click)="Verificar()" class="btn btn-success btn-lg" [disabled]="!ValidarNumero(nuevoJuego.numeroIngresado)">
        Verificar
      </button>
    </h2>
  
    <h2>
      <button *ngIf="ocultarVerificar" (click)="GenerarNuevo()" class="btn btn-info btn-lg">
        Nueva operación
      </button>
    </h2>
  
    <h2>
      <p align="center" *ngIf="!ocultarVerificar" ><i class="fa fa-spinner fa-pulse"></i>
        Esperando que ingrese un número
      </p>
    </h2>

    <h3 align="center" *ngIf="nuevoJuego.jugador.gano">Congratulations, ganaste <i class="fa fa-birthday-cake"></i></h3>
    <h3 align="center" *ngIf="!nuevoJuego.jugador.gano && tiempo == 0">Perdiste. Mejor suerte para la proxima.</h3>

  </form>

  <div id="snackbar">{{mensajes}}</div>

  <app-listado-de-resultados [listado]="listado" [nombreJuego]="nuevoJuego.nombre" [nombreJugador]="jugador.nombreUsuario"></app-listado-de-resultados>

</div>