/*.container-fluid {
    background-color: #555;
}*/

li a.navbar-brand {
    color: yellowgreen;
}

.glyphicon {
    font-size: 12px;
}

nav {
    border-radius: 0;
    padding: none;
    margin-top: 5px;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    cursor: pointer;
    color:yellowgreen;
}

.dropdown a{
    font-size: 16px;
}

.dropdown-menu {
    background-color: #222;
    color:yellowgreen;
}
.dropdown-menu a:hover{
    background-color: black;
    color: white;
}

.divider {
    background-color: yellowgreen;
}