<table class="table table-condensed">
    <thead>
      <tr>
        <th>Juego</th>
        <th>Jugador</th>
        <th>Puntaje</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resultado of listado">
        <td align="center" *ngIf="resultado.juego == nombreJuego && resultado.jugador == nombreJugador"> {{ resultado.juego }} </td>
        <td align="center" *ngIf="resultado.juego == nombreJuego && resultado.jugador == nombreJugador"> {{ resultado.jugador }} </td>
        <td align="center" *ngIf="resultado.juego == nombreJuego && resultado.jugador == nombreJugador"> {{ resultado.puntaje }} </td>
        <td align="center" *ngIf="resultado.juego == nombreJuego && resultado.jugador == nombreJugador"> {{ resultado.fecha | fecha }} </td>
        <td align="center" *ngIf="resultado.juego == nombreJuego && resultado.jugador == nombreJugador"> {{ resultado.fecha | horario }}</td> 
      </tr>
     
    </tbody>
</table>